@import './variables.scss';

.contact-item-row {
    font-weight: bolder;
    color: #222222;
    cursor: pointer;

    &:hover {
        background-color: #e2e2e2;
    }


    &:focus {
        outline: none;
        background-color: #ccc;
    }

    .avatar {
        width: 80px;

        .avatar-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            background-color: $main;
            box-shadow: 1px 1px 5px 1px #00000080;
            color: #fff;
            border-radius: 2px;
            border-radius: 50%;
            box-sizing: border-box;
            overflow: hidden;

            .avatar-img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            svg {
                font-size: 1.4rem;
            }
        }
    }

    .select-contact {
        text-align: right;
        cursor: pointer;

        .checkbox {
            border: none;
            width: 25px;
            height: 25px;
            border-radius: 2px;
            color: white;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid #00754e;
            background-color: #2d6955;
            font-size: 3rem;
            padding: 0;
            cursor: pointer;
        }
    }
}

// @media (max-width: 992px) {
//     .contact-item-row .avatar{
//         width: 20px;
//     }
// }